{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Login</h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn text-white w-100" style="background-color: #4A6F88;">Login</button>
                </form>

                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                    <p><a href="{% url 'password_reset_form' %}">Forgot password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
