{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-card">
                <div class="card-body">
                    <h2 class="card-title text-center">Register</h2>
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="alert alert-danger text-danger">
                                <strong>Error!</strong> Please correct the following errors:
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {{ form.username|as_crispy_field }}
                        {{ form.first_name|as_crispy_field }}
                        {{ form.last_name|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.currency|as_crispy_field }}
                        {{ form.password1|as_crispy_field }}
                        {{ form.password2|as_crispy_field }}

                        <button type="submit" class="btn btn-custom w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        'use strict';
        var forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>
{% endblock %}

{% block styles %}
<style>
     .custom-card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.14);
            transition: transform 0.2s;
     }
</style>
{% endblock %}
